#game-container {
    display: grid;
    grid-template-columns: repeat(9, 5%);
    column-gap: 0;
    gap: 0;
}

.game-tile {
    height: 50px;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    background-color: rgb(194, 194, 194);
}

.revealed-empty {
    background-color: grey;
}

.revealed-bomb {
    background-color: rgb(226, 0, 0);
}

.bomb-number{
    text-align: center;
    font-size: 24px;
    margin: 10px auto;
}